<!DOCTYPE html>
<html ng-app="App">
    <head>
        <meta name="description" content="AngularJS + jQuery UI Drag-n-Drop" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.1/angular.min.js"></script>
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
        <script src="js/app.js"></script>
        <meta charset=utf-8 />
        <title>DnD UI</title>
        <style id="jsbin-css">

            html, body {
                height: 100%;
            }

            .panel {
                padding: 15px;
                height: 100%;
                background: azure;
            }

            .list1 {
                padding: 15px;
                height: 100%;
            }

            .list2 {
                padding: 15px;
                height: 100%;
            }

            .todo {
                background: azure;
            }

            .boardbg {
                background: rgb(22,75,105);
                padding: 5px;
                min-height: 100%;
            }

        </style>
    </head>
    <body ng-controller="dndCtrl" ng-cloak>
        <div class="container-fluid">
            <div class="row-fluid">
                <h2>My Kanban</h2>
            </div>
        </div>
        <div class="container-fluid boardbg">
            <div class="row-fluid">

                <div class="span3">
                    <legend>Panel</legend>
                    <div class="panel">
                        <label><b>Column</b></label>
                        <textarea ng-model="newTodo"></textarea>
                        <button ng-click="addToList()" class="btn btn-primary">Create</button>

                        <label><b>Transform</b></label>
                        <textarea ng-model="newTodo"></textarea>
                        <button ng-click="addToList()" class="btn btn-primary">Create</button>

                    </div>
                </div>

                <div class="span3">
                    <legend>Backlog (Add Card)</legend>
                    <div class="list1" droppable>
                        <div class='well' ng-repeat="item in list1" 
                             data-index="{{$index}}" data-reject="{{item.reject}}"   draggable>{{item.name}}</div>
                    </div>
                </div>

                <div class="span3">
                    <legend>Todo</legend>
                    <div class="list2" droppable>
                        <div class='well' ng-repeat="item in list2" 
                             data-index="{{$index}}" data-reject="{{item.reject}}"  draggable>{{item.name}}</div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
