<legend> Define Jobs </legend>

<div ng-controller="JobCtrlr">
	<form ng-submit="createJob()">
	<label>Name</label> <input type="text" ng-model="job.name"> <label>
		Desc</label> <input type="text" ng-model="job.desc"> <input
		type="submit" value="create" class="btn-primary">
	</form>
</div>


